# don't push local rendered files in master branch
_book/
_bookdown_files/
libs/
**/*.bib
**/*.html 
# ignore all html files except:
!**/mathjax_header.html
# make sure to include the .bib files
!book.bib
!packages.bib
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata